<section class="about">
	<div class="scrollpage light active">
		<div class="container">
			<div class="about-content center">
				<h1>Start creating<br> your own sounds<br>right now!</h1>
				<span class="icon-logo"></span>
				<a class="get-started" ui-sref="home.libraries">Craft your sound</a>
			</div>

			<span class="icon-chevron-down navigation-down"></span>
		</div>
	</div>
	<div class="scrollpage dark">
		<div class="container">

			<div class="about-content">
				<h1>Diforb is an online service which can help you create sounds for games, ads, animations and other media projects.</h1>
			</div>

			<div  class="diforb-aplication">
				<img src="app/assets/img/app-circle.png" alt="diforb">
			</div>

		</div>
	</div>
	<div class="scrollpage bglibs">
		<div class="container">

			<div class="diforb-libraries">
				<a ui-sref="home.libraries"><img src="app/assets/img/libs.png" alt="libraries"></a>
			</div>

			<div class="about-content right">
				<h1>We have a wide choice of sound libraries. Our sounds can fit in any your project. Every library contains sound categories and subcategories to make your work easy.</h1>
			</div>

		</div>
	</div>
	<div class="scrollpage dark">
		<div class="container">

			<div class="about-content">
				<h1>It is quite easy to create sounds with Diforb.</h1>
				<p>You can pick any sound you need and mix it with any other component. Adjust volume, change the pitch, apply reverberation. And all you have to do is download your original sound effect.</p>

			</div>

			<div class="about-content right-width">
				<video controls buffered="true" poster="app/assets/img/tutorial-cover.jpg">
					<source src="http://strgblob.diforb.com/video/present.mp4" type="video/mp4">
  					<source src="http://strgblob.diforb.com/video/present.ogg" type="video/ogg">
  					<source src="http://strgblob.diforb.com/video/present.webm" type="video/webm">
  					Your browser does not support HTML5 video.
				</video>
			</div>

		</div>
	</div>
	<div class="scrollpage light">
		<div class="container">

			<div class="about-content center">
				<h1>enjoy</h1>
				<span class="icon-logo"></span>
				<a class="get-started" ui-sref="home.libraries">Craft your sound</a>
			</div>

		</div>
	</div>
</section>
