<div id="form--author--login" ng-class="{shake: errorMessage}">
      <div ng-show="infoMessage">
            <h3>{{infoMessage.title}}</h3>
            <p>{{infoMessage.message}}</p>
            <button id="logOut" ui-sref="login.signin">Log in</button>
      </div>
      <form name="formlogin" id="form--login" action="" ng-hide="infoMessage">
            <h3>Confirm registration</h3>
            <p>Your registration is not confirmed yet. Resend confirmation link?</p>
            <input id="login" type="email" name="email" placeholder="E-mail" ng-model="loginData.email" ng-class="{ error: errorService.hasFieldError(formlogin, formlogin.email) }" required /><br>
            <label ng-show="errorService.hasFieldError(formlogin, formlogin.email)" class="error" ng-messages="formlogin.email.$error" ng-messages-include="views/messages.html"></label>

            <!-- <button id="logIn" ng-click="login($event)">Log in</button><br> -->
            <p id="alert" class="slide" ng-show="errorMessage">{{errorMessage}}</p>
            <a class="btn-back" ui-sref="login.start"><span class="icon-undo"></span>Back</a>
            <button id="resendlink" ng-click="resendlink($event)">Resend</button><br>
      </form>
</div>

<spinner-process ng-show="spinnerShow"></spinner-process>