<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		 <httpErrors errorMode="Custom" existingResponse="Auto" defaultResponseMode="ExecuteURL" >
				<remove statusCode="404"/>
				<clear />
				<error statusCode="404" responseMode="ExecuteURL" path="/index.html" />
			</httpErrors>
			<staticContent>
				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json"/>
				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
				<remove fileExtension=".ttf" />
				<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
				<remove fileExtension=".svg" />
				<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
				<remove fileExtension=".mp4" />
				<mimeMap fileExtension=".mp4" mimeType="application/mp4" />
			</staticContent>
	</system.webServer>
</configuration>