<header>
	<div class="container">
		<ul class="header-navigation">
			<li><a ui-sref="home.libraries">home</a></li>
			<li>license
				<ul>
					<li><a ui-sref="home.license">License agreement</a></li>
					<li><a ui-sref="home.privacy">Privacy policy</a></li>
				</ul>
			</li>
			<li><a ui-sref="home.get">get in touch</a></li>
		</ul>
	</div>
</header>
<section class="landing">
	<div id="focus"></div>
	<footer id="form">
			<div ui-view="content"></div>
	</footer>
</section>
<!--VIDEO TUTORIAL-->
<span class="icon-close-video" ></span>
<div id="video">
	<video>
		<source src="http://strgblob.diforb.com/video/present.mp4" type="video/mp4">
		<source src="http://strgblob.diforb.com/video/present.ogv" type="video/ogv">
		<source src="http://strgblob.diforb.com/video/present.webm" type="video/webm">
	</video>
</div>
<!--END VIDEO TUTORIAL-->
<div class="social-links">
	<a href="https://www.facebook.com/diforb/" target="_blank"><i class="icon-facebook"></i></a>
	<a 	href="https://plus.google.com/u/4/b/101715622049611220150/101715622049611220150?pageId=101715622049611220150" target="_blank"><i class="icon-google"></i></a>
	<a 	href="https://twitter.com/diforb" target="_blank"><i class="icon-twitter"></i></a>
	<a 	href="https://www.youtube.com/channel/UCDWu7JWeG5w89ielDUMwAQA" target="_blank"><i class="icon-youtube"></i></a>
</div>
<div class="fullscreen-bg">
	<video loop muted autoplay class="fullscreen-bg__video">
		<source src="http://strgblob.diforb.com/video/background/back-video.webm" type="video/webm">
		<source src="http://strgblob.diforb.com/video/background/back-video.mp4" type="video/mp4">
		<source src="http://strgblob.diforb.com/video/background/back-video.ogv" type="video/ogg">
	</video>
</div>