<div class="dashboard--wrapper account--wrapper">
	<div 	class="support-wrapper"
			ng-hide="isMessageSend">

		<h3 >Having any problems with Diforb? Contact our support departament.</h3>

		<form name="formSupport" novalidate ng-submit="saveSupport()">
			<h3>Subject</h3>

			<input 	type="text" name="subject" placeholder="Put your subject here" ng-model="support.subject" required></input>
			<label 	ng-show="errorService.hasFieldError(formSupport, formSupport.subject)" class="error postError" ng-messages="formSupport.subject.$error">
				<ng-messages class="error" for="formSupport.subject.$error" ng-show="errorService.hasFieldError(formSupport, formSupport.subject)">
					<ng-message when="required">The subject field is required</ng-message>
				</ng-messages>
			</label>

			<h3>Message</h3>

			<textarea 	name="message" id="" cols="30" rows="10" placeholder="Put your message here" ng-model="support.message" required></textarea>
			<label 	ng-show="errorService.hasFieldError(formSupport, formSupport.message)" class="error postError" ng-messages="formSupport.message.$error">
				<ng-messages class="error" for="formSupport.message.$error" ng-show="errorService.hasFieldError(formSupport, formSupport.message)">
					<ng-message when="required">The message is required</ng-message>
				</ng-messages>
			</label>

			<p 	id="alertSubjectError" class="postError" ng-show="errorMessage">{{errorMessage}}</p>

			<span class="btn__subscribe-save">
				<button  type="submit" ng-disabled="formSupport.$invalid">{{button}}</button>
			</span>
		</form>

	</div>

	<div class="support-wrapper message" ng-show="isMessageSend">

		<h3>Thank you!</h3>
		<h4>We will take into consideration all your requests and сarry on them as soon as possible.</h4>
		<a ui-sref="home.libraries">Now back to work</a>

	</div>
</div>