<div class="dashboard--wrapper">
	<div class="figure-wrap" >
		<figure class="figure" figures-element ng-repeat="value in libs | orderBy :  'order'">
			<audio ng-src="{{'src/audio/' + value.audio}}" preload="none"></audio>
			<div class="wrapper-image">
				<a 	ui-sref="home.libraries.libname({libname: '{{value.name | lowercase}}'})" ui-sref-opts="{reload: false}" ng-click="dh.currentLib(value.name)">
	    				<img ng-src="app/assets/img/jpg/covers/{{value.image}}" ng-srcset="app/assets/img/jpg/covers/retina/{{value.image}} 2x" alt="{{value.image}}"/>
					<div class="hover-layer"><span>Click for details</span></div>
				</a>
			</div>
			<h2>{{value.title}}</h2>
			<h4><span></span></h4>
			<div class="dashboard--btn-play" ng-class="{'disable': value.audio === null}"></div>
			<a href="/Diforb_old_app/#/library/{{::value.name | lowercase}}" class="dashboard--btn-launch" target="_blank" ng-if="!value.isComingSoon&amp;&amp;desktop&amp;&amp;!isSafaryBrowser">launch</a>
			<a class="dashboard--btn-launch" ng-if="!value.isComingSoon&amp;&amp;!desktop&amp;&amp;!isSafaryBrowser">launch
				<div class="tooltip-launch">Please use desktop.<br>The mobile is comming.</div>
			</a>
			<a class="dashboard--btn-launch" ng-if="!value.isComingSoon&amp;&amp;isSafaryBrowser">launch
				<div class="tooltip-launch safari">Please use Chrome or Firefox.<br>It will be implemented the application working in Safary ASAP.</div>
			</a>
			<a class="dashboard--btn-launch__coming-soon" ng-if="value.isComingSoon">coming soon</a>
			<span class="dashboard--current-time"></span>
			<div class="dashboard--progress-bar progress">
				<div class="dashboard--progress-bar--inner control"><span></span></div>
			</div>
			<div class="clearfix"></div>
		</figure>
	</div>
</div>