<div id="form--author--resetpassword">

    <div ng-show="infoMessage">
        <h3>{{infoMessage.title}}</h3>
        <p>{{infoMessage.message}}</p>
        <button id="logIn" ui-sref="login.signin">Log in</button>
    </div>

	<form id="form--resetpassword" ng-hide="infoMessage" name="formnewpassword" action="">
	 	<h3>Change your password</h3>

		<input id="password" name="password" type="password" ng-model="loginData.password" placeholder=" Password" required ng-class="{ error: errorService.hasFieldError(formnewpassword, formnewpassword.password) }" /><br>
		<label ng-show="errorService.hasFieldError(formnewpassword, formnewpassword.password)" class="error" ng-messages="formnewpassword.password.$error" ng-messages-include="views/messages.html"></label>


	 	<input id="confirmpassword" name="confirmpassword" ng-model="loginData.confirmPassword" type="password" minlength="6" compare-to="loginData.password" placeholder="Confirm password" ng-class="{ error: errorService.hasFieldError(formnewpassword, formnewpassword.confirmpassword) }" required/><br>
	 	<label ng-show="errorService.hasFieldError(formnewpassword, formnewpassword.confirmpassword)" class="error" ng-messages="formnewpassword.confirmpassword.$error" ng-messages-include="views/messages.html"></label>

	 	<p id="alertResetPassword" ng-show="errorMessage">{{errorModelState}}</p>
	 	<a class="btn-back" ui-sref="login.start"><span class="icon-undo"></span>Back</a>
	 	<button id="resetPassword" type="submit" ng-click="newPassword($event)"><i class="icon-reset"></i>Change</button><br>
	</form>

</div>
<spinner-process ng-show="spinnerShow"></spinner-process>