.pageload-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 4000;
}
.pageload-overlay.show{ visibility: visible }
.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}
.pageload-overlay svg path { fill: #276585 }

#loader-circle {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-top-color: white;
	z-index: 4000;
	-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
}
#loader-circle:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-top-color: white;
	-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite;
}
#loader-circle:after {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 1px solid transparent;
	border-top-color: white;
	-webkit-animation: spin 1.5s linear infinite;
			animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
	0%   {
	    	-webkit-transform: rotate(0deg);
	    			transform: rotate(0deg);
	}
	100% {
	    	-webkit-transform: rotate(360deg);
	    			transform: rotate(360deg);
	}
}
@keyframes spin {
	0%   {
	    	-webkit-transform: rotate(0deg);
	    			transform: rotate(0deg);
	}
	100% {
	    	-webkit-transform: rotate(360deg);
	    			transform: rotate(360deg);
	}
}
.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
}
#logo {
	position: absolute;
	top:50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
	background: url(../img/svg/logo_simple.svg) no-repeat center center;
	background-size: 100%;
	z-index: 4003;
}
#loader-circle,
#logo { opacity: 1 }
.loaded #loader-circle,
.loaded #logo {
	opacity: 0;
	-webkit-transition: all 1s;
			transition: all 1s;
}




